.needDiv{
    height: 24px;width: 24px;    background: url(../images/war1.png) no-repeat 0 0;

    float:right;
    margin: 6px 35px 0 0;

}
li.active .needDiv{
    height: 24px;width: 24px;    background: url(../images/war2.png) no-repeat 0 0;

    float:right;
    margin: 6px 35px 0 0;

}
a.isneeded{
   

}
