
#currency_pop {
    display:none;
    position:absolute;
    z-index:1000;
    top:-1px;
    left:-1px;
    width: 100%;

}
#currency{
    text-align: left;
    min-width: 100px;
    max-width: 200px;

}
#close_currency_pop{
    height: 26px;
    line-height: 26px;
    padding: 0 1px;
     font-family: verdana;
     font-size:11px;

}
#currency span{
    line-height:25px;
    padding:0 0 0 10px;
    cursor:pointer;
    font-size: 10px;


}

.rub {
    background: url(../images/rur.png) no-repeat 12px 7px;
}
.uah {
    background: url(../images/uah.png) no-repeat 12px 6px;
}
.eur {
    background: url(../images/eur.png) no-repeat 12px 7px;
}
.usd {
    background: url(../images/usd.png) no-repeat 12px 6px;
}
.curmain{
    background-position:0 0px;
    background-repeat: no-repeat;

}